.modal{
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  padding: 1rem;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background:#0000006b;
}
.popUp{
  position: relative;
  max-width: 500px;
  padding:2rem;
  border:2px solid #fff;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  background: blueviolet;
}
.buttonClose{
  position: absolute;
  border:2px solid #fff;
  padding: 0.25rem 0.5rem;
  top:1rem;
  right:1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.error{
  color:#fff;
  width: 100%;
  text-align: center;
}
.input{
  margin:1rem 0
}
.button{
  cursor: pointer;
  padding:0.5rem 0.25rem;
  background-color: #fff;
}