.error{
  color: rgb(170, 17, 17);
  width: 100%;
  text-align: center;
}
.buttons{
  display: flex;
  flex-direction: column;
  padding:1rem;
  row-gap: 1rem;  
  column-gap: 1rem;
  max-width: 200px;
}
.button{
  padding:0.5rem 0.25rem;
}
.dashboard{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
